.custom-image-Gap {
  max-height: 15vh;
  max-width: 100%;
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.list-group-item-custom {
  background-color: rgb(255, 255, 255);
  color: #00000080;
  width: 45vh;
  border-color: #ffffff80;
}
.list-group-item-custom:hover {
  background-color: #2a2a721a;
  color: #2a2a72;
}

/* styles.css */
.list-group-item-custom.active {
  background-color: #2a2a721a;
  color: #2a2a72;
  border-color: #ffffff80;
}
/* styles.css */
.custom-form-control {
  width: 250%;
}

.custom-Point {
  border-radius: 10px;
  height: 30%;
  width: 98%;
  background: linear-gradient(to bottom, #03a1ff, #0e93f4, #009ff9);
}

.custom-S-text1 {
  font-size: 24px;
  font-family: 600;
  margin-left: 7vh;
  color: #ffffff;
}
.custom-S-text2 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 7vh;
  color: #ffffff;
}

.custom-button-Total {
  font-size: 24px;
  font-weight: 600;
  margin-left: 7vh;
  padding-left: 7vh;
  padding-right: 5vh;
  background-color: #00000040;
  color: #ffffff;
  border-width: 4px;
}

.custom-button-Total:hover {
  background-color: #2a2a72;
  color: #ffffff;
}

.custom-Mentors {
  /* border-radius: 10px; */
  height: 40%;
  background: linear-gradient(to bottom, #03a1ff, #0e93f4, #009ff9);
}

.custom-mentor {
  font-size: 15px;
  font-weight: 500;
  padding-left: 35%;
  padding-right: 35%;
  background-color: #00000040;
  border-color: #ffffff;
  color: #ffffff;
  border-width: 2px;
}
.custom-mentor:hover {
  background-color: #ffffff;
  color: #000000;
}
.text-muted {
  color: #ffffff;
}

.View-more {
  padding-right: 3vh;
}

.card .imgg {
  width: 71px;
  height: 71px;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.card {
  flex-direction: row;
  display: flex;
  padding: 26px 30px 26px 29px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
}
.custom-box {
  width: 411px;
  height: 183px;
  margin: 25px 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(0, 72, 143, 0.26);
  border-left: 25px solid #00488f;
  padding: 10px;
  cursor: pointer;
}

.custom-box2 {
  width: 411px;
  height: 183px;
  margin: 25px 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(35, 110, 135, 0.25);
  border-left: 25px solid #236e87;
  padding: 10px;
  cursor: pointer;
}
.custom-box3 {
  width: 411px;
  height: 183px;
  margin: 25px 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(0, 82, 87, 0.25);
  border-left: 25px solid #005257;
  padding: 10px;
  cursor: pointer;
}
.custom-box4 {
  width: 411px;
  height: 183px;
  margin: 25px 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(0, 76, 125, 0.25);
  border-left: 25px solid #004c7d;
  padding: 10px;
  cursor: pointer;
}
.cardnew {
  width: 100%;

  height: auto;

  flex-direction: row;
  display: flex;
  padding: 26px 30px 26px 29px;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  border-radius: 10px;
  background: rgba(221, 221, 254, 0.5);
}

.imgr {
  width: 133px;
  height: 133px;

  padding: 0.5em;
  border-radius: 0.7em;
}

.text-section {
  margin-left: 10px; /* Add some margin to separate text from the image */
}

.card-title {
  margin-bottom: 0.5rem; /* Adjust as needed */
}

.card-body {
  flex: 1; /* Allow the text section to expand and fill the available space */
}
