.custom-bgregit {
  background-color: #e7f3fe;
  display: flex;
  border-radius: 5px;
  width: 500px;
  height: 100%;
  padding: 0 0 110px 0;

  /* Center horizontally and vertically */
  justify-content: center;
  align-items: center;
}


.custom-text1 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

.custom-text2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding-left: 5vh;
  padding-right: 5vh;
}

.custom-text-FP {
  color: #2a2a72;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}

.custom-button2 {
  font-size: 24px;
  font-weight: 700;
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: #ffffff;
  color: #2a2a72;
  border: 2px solid #2a2a72;
  border-width: 4px;
  border-radius: 10px;
}

.custom-button2:hover {
  background-color: #2a2a72;
  border-color: #2a2a72;
  color: #ffffff;
}

.custom-button2rtyu {
  font-size: 15px;
  font-weight: bold;
  padding: 4px 15px;
  background-color: #ffffff;
  color: #2a2a72;
  border: 2px solid #2a2a72;
  border-width: 2px;
  border-radius: 4px;
}

.custom-button2rtyu:hover {
  background-color: #2a2a72;
  border-color: #2a2a72;
  color: #ffffff;
}

.custom-text-AR {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.custom-text-AR span {
  color: #2a2a72;
  font-weight: 600;
}

.Icon img {
  width: 40px;
  height: 40px;
  margin-right: 3vh;
  margin-left: 3vh;
}
.newwitchg {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.container-fluidreg {
  width: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.sitewyey {
  width: 450px;
  margin: 0;
  height: 100%;
  padding: 0;
}
.bxbxset {
  width: 1050px;
  height: 630px;
  border-radius: 5px;
  border: 2px solid #2a2a72;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.tpnk {
  font-weight: bold;
}
.ore {
  font-size: 15px;
}
.pnmt {
  color: red;
  margin: 0 0 4px 0;
  padding: 0;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: var(--bs-form-valid-border-color);
  padding-right: calc(1.5em + 0.75rem);
  background-image:none;
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
/* Styles for screens smaller than 600 pixels */
@media (max-width: 990px) {
  .responsive-border-log-reg{
    border: 2px solid #2a2a72;
    padding: 0 5px;
    border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .custom-bgregit {
    display: none;
   
  }
  .custom-bglog {
    display: none;
   
  }
  .bxbxset {
    width: 400px;
    text-align: center;
    padding: 10px;
    height: auto;

   box-shadow: none;
   border: none;
  }
  .bxbxsetlog {
    width: 400px;
    padding: 10px;
    height: auto;
    border: none;
    box-shadow: none;
   
  }
  /* .newwitchg{
    padding: 0 80px 0 100px;

  } */
  .sitewyey {
    width: 330px; 
    margin: 0;
    height: 100%;
    padding: 0;
}
}
