.custom-card {
    background-color: #ffffff1a;
    color: #00000082;
    border-color: #00000082;
    border-width: 3px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 1vh;
    width: 60vh;
}

.custom-card:hover {
    background-color: #80CFFE1A;
    color: #2A2A72;
    border-color: #2A2A72;
}

.custom-text-sendcode {
    font-size: 15px;
    font-weight: 600;
}

.custom-image-ULock {
    max-width: 20%;
    max-height: 20%; 
    margin: auto; 
    margin-top: 10vh;
  }