
.custom-image-ULock {
  max-width: 20%;
  max-height: 20%; 
  margin: auto; 
  margin-top: 10vh;
}
.custom-image-ULock2 {
  max-width: 20%;
  max-height: 20%; 
  margin: auto; 
  margin-top: 5vh;
}

.custom-button-reset{
  background-color: #ffffff;
  color: #2a2a72; 
  border-color: #2A2A72;
  border-width: 4px;
  font-weight: 700; 
  font-size: 24px;
  padding-left: 5vh;
  padding-right: 5vh;

}
.custom-button-reset:hover {
  background-color: #2a2a72;
  border-color: #2a2a72;
  color: #ffffff;
}
