.calen {
  padding: 30px 0 30px 200px;
  font-size: 18px;
  font-weight: 600;
  color: #2a2a72;
}

.pbtn2wwnew {
  padding: 4px;
  border-radius: 3px;
}
.yerm {
  background-color: #2a2a72;
  width: 730px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: white;
  padding: 10px 0;
  font-weight: bold;
  font-size: 25px;
}

.slottopic {
  font-size: 20px;
  font-weight: bold;
}
.aelectbtnset {
  background: rgba(42, 42, 114, 0.1);
  color: #2a2a72;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 20px;
}

.custom-buttoncansl {
  font-size: 20px;
  font-weight: 700;
  padding: 4px 10px;
  background-color: #ffffff;
  color: #2a2a72;
  border: 3px solid #2a2a72;
  border-radius: 10px;
  margin: 0 50px 0 0;
}

.custom-button2:hover {
  background-color: #2a2a72;
  border-color: #2a2a72;
  color: #ffffff;
}

.custom-buttonadd {
  font-size: 20px;
  font-weight: 700;
  padding: 4px 25px;
  background-color: #2a2a72;
  color: #ffffff;
  border: 3px solid #2a2a72;
  border-radius: 10px;
  margin: 0 0px 0 0;
}

.custom-buttonadd:hover {
  background-color: #ffffff;
  border-color: #2a2a72;
  color: #2a2a72;
}
.timinpt {
  border: 2px solid #2a2a72;
  padding: 4px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}
.btnsettim {
  margin: 30px 0 0 200px;
}

@media screen and (max-width: 768px) {
  .calen {
    padding: 20px 0;
  }
  .yerm {
    background-color: #2a2a72;
    width: 100%;
  }
  .addslot {
    border-top: 2px solid gray;
    width: 100%;
  }
  .aelectbtnset {
    margin: 20px 0;
  }
  .btnsettim {
    padding: 0;
    margin: 0;
  }
}
.weekly_user_box {
  border: 2px solid gray;
  border-radius: 8px;
  padding: 25px;
}
.topic_week {
  font-weight: bold;
  font-size: 40px;
}
.para_week {
  font-size: 20px;
}
.month_dis_week {
  text-align: center;
  padding: 10px 0;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-color: #2a2a72;
}
.date_box_week {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 10px 25px;
  flex-wrap: wrap;
  font-size: 23px;
  text-align: center;
  color: #2a2a72;
  font-weight: bold;
  border: 1px solid gainsboro;
}
.spe_weekdy {
  color: #2a2a726e;
}
.action_week_box {
  border: 1px solid gainsboro;
  padding: 10px 25px;
}
.actin_btn_set {
  justify-content: space-between;
  display: flex;
  margin: 8px 0;
  flex-wrap: wrap;
}
.addtime_topic {
  font-size: 25px;
  font-weight: bold;
}
.adbtn_week {
  background-color: #2a2a72;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 12px;
  font-size: 30px;
}
.btn_week_calentder_add{
  font-size: 20px;
  cursor: pointer;
  margin: 8px;
  border-radius: 45px;
  padding: 8px 15px;
  font-weight: bold;
  color: #2a2a72;
  background-color: #2a2a721e;
}